.nav-container-add {
  display: flex;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .nav-container-add {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 2rem;
  }
}

.nav-container-add img {
  width: 3rem;
  margin-right: 6rem;
}

@media (min-width: 768px) {
  .nav-container-add img {
    margin-right: 30rem;
  }
}

label {
  font-size: 2.3rem
}

input[type=checkbox] {
  -ms-transform: scale(2); 
  -moz-transform: scale(2); 
  -webkit-transform: scale(2); 
  -o-transform: scale(2);
  transform: scale(2);
  margin-right: 2rem;
}

.school-form {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .school-form form {
    width: 100%;
    padding: 0 20rem;
  }
  
  .school-form input {
    width: 100%;
  }

  input[type=checkbox] {
    width: min-content;
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    align-items: center;
  }

  .column-container {
    flex-direction: column;
    padding-right: 1rem;
  }
}
