.header-container{
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0;
}

.header-container img {
  width: 12rem;
  margin-right: 5rem;
}

@media (min-width: 768px) {
  .header-container{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
  }

  .header-container img {
    width: 10rem;
    margin-right: 35rem;
  }
}

.header-container p {
  font-size: 1.7rem;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

.loading {
  position: fixed;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}