* {
  box-sizing: border-box;
  font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/bg-m.png);
  background-position-x: center;
  background-size: 100vh;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  body {
    background-size: 100vh;
    background-size: 100vw;
    background-image: url(./img/bg.png);
    background-position-y: -10rem;
  }
}

h1 {
  margin: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  h2 {
    color: #000000;
  }
}

h3 {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) {
  h3 {
    font-size: 2.5rem;
  }
}

p {
  font-size: 2.4rem;
}

input {
  border-color: #4FA9DD;
  border-radius: 1rem;
  font-size: 2rem;
  padding: .8rem 2rem;
  margin: 1.2rem 0;
  border-width: .1px;
  display: block;
}

.container {
  width: 100%;
}

.btn {
  display: block;
  width: 100%;
  padding: 1rem 5rem;
  text-decoration: none;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #F30098;
  color: #ffffff;
}

.btn-register {
  background-color: #ffffff;
  border: 1px solid #F30098;
  color: #F30098;
}

.btn-secondary {
  background-color: #E73E33;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}
